<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vfh.httpInterface.dao.order.OrderDao">
	<sql id="Base_Column_List">
		id,customer_name, customer_num, buildings_id, buildings_name, other_Req, create_date,
		city,
		housetype,
		huxing,
		mianji,
		yusuan,
		zhuangxiu,
		ordertype,
		sexy	
	</sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
		insert
		into tb_order ( 
		customer_name, 
		customer_num, 
		buildings_id, 
		buildings_name, 
		other_Req, 
		create_date,
		city,
		housetype,
		huxing,
		mianji,
		yusuan,
		zhuangxiu,
		ordertype,
		sexy
		)
		values ( 
		#{entity.customer_name},
		#{entity.customer_num}, 
		#{entity.buildings_id},
		#{entity.buildings_name},
		#{entity.other_Req},
		now(),
		#{entity.city},
		#{entity.housetype},
		#{entity.huxing},
		#{entity.mianji},
		#{entity.yusuan},
		#{entity.zhuangxiu},
		#{entity.ordertype},
		#{entity.sexy}
		)
	</insert>
	<select id="count" resultType="long">
		select count(*) from tb_order
		
	</select>
	
	<select id="find" resultType="hashmap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		tb_order ORDER BY id DESC
		<if test="filter.first != null and filter.last != null">
			LIMIT #{filter.first},#{filter.last}
		</if>
	</select>
</mapper>