<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vfh.httpInterface.dao.buildings.BuildingsMapper">
	<sql id="Base_Column_List">
		id,province_id, city_id, area_id, map_x, map_y, developer_company,
		buildings_name,
		query_keyword,
		create_time, update_time, status,
		open_date, deliver_date, server_phone_num,
		address,building_count,
		floor_space, building_space, house_count,
		green_rate,
		decoration_condition,
		util_type,
		parking_count,floor_detail,buildings_detail,main_door,around_peitao,internal_peitao,traffic,wuye_fee,property_company,wuye_type,project_features,ratio,right_years,yushouzhenghao,dianping
	</sql>
	<select id="get" resultType="hashmap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		tb_buildings
		WHERE
		id = #{id}
	</select>

	<delete id="delete">
		delete from tb_buildings
		where id = #{id}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
		insert
		into tb_buildings ( province_id,city_id, area_id,
		map_x, map_y,
		buildings_name,
		query_keyword, create_time,
		status, open_date,
		deliver_date,
		server_phone_num, address,building_count, floor_space,
		building_space,
		house_count, green_rate, decoration_condition,
		util_type,
		parking_count,floor_detail,buildings_detail,main_door,around_peitao,internal_peitao,traffic,wuye_fee,developer_company,property_company,wuye_type,project_features,ratio,right_years,yushouzhenghao,dianping
		)
		values ( #{entity.proId},#{entity.cityId}, #{entity.areaId},
		#{entity.mapX},
		#{entity.mapY},
		#{entity.buildings_name}, #{entity.queryKeyword},
		now(),
		#{entity.status}, #{entity.open_date},
		#{entity.deliver_date},
		#{entity.server_phone_num}, #{entity.address},
		#{entity.buildingCount}, #{entity.floorSpace},
		#{entity.buildingSpace}, #{entity.house_count}, #{entity.greenRate},
		#{entity.decoration_condition}, #{entity.utilType},
		#{entity.parkingCount},
		#{entity.floorDetail},
		#{entity.buildingsDetail},
		#{entity.main_door},#{entity.around_peitao},#{entity.around_peitao},
		#{entity.traffic},#{entity.wuye_fee},#{entity.developer_company},
		#{entity.property_company}, #{entity.wuye_type},
		#{entity.project_features}, #{entity.ratio}, #{entity.right_years},
		#{entity.yushouzhenghao},
		#{entity.dianping}  
		)
	</insert>
	<select id="count" resultType="long">
		select count(*) from tb_buildings
		WHERE
		id>0
        <if test="filter.buildings_name != null and filter.buildings_name != ''">
			<bind name="filter.buildings_name" value=" '%' + filter.buildings_name + '%' " />
			AND buildings_name LIKE #{filter.buildings_name}
		</if>

		<if test="filter.developer_company != null and filter.developer_company != ''">
			<bind name="filter.developer_company" value=" '%' + filter.developer_company + '%' " />
			AND developer_company LIKE #{filter.developer_company}
		</if>
        <if test="filter.city_id != null and filter.city_id != ''">
			<bind name="filter.city_id" value=" '%' + filter.city_id + '%' " />
			AND city_id LIKE #{filter.city_id}
		</if>


	</select>
	<update id="update">
		UPDATE
		tb_buildings
		<set>
			<if test="entity.proId != null">
				city_id = #{entity.proId},
			</if>
			<if test="entity.cityId != null">
				city_id = #{entity.cityId},
			</if>
			<if test="entity.areaId != null">
				area_id = #{entity.areaId},
			</if>
			<if test="entity.map_x != null">
				map_x = #{entity.map_x},
			</if>
			<if test="entity.map_y != null">
				map_y = #{entity.map_y},
			</if>
			<if test="entity.developer_company != null">
				developer_company = #{entity.developer_company},
			</if>
			<if test="entity.buildings_name != null">
				buildings_name = #{entity.buildings_name},
			</if>
			<if test="entity.query_keyword != null">
				query_keyword = #{entity.query_keyword},
			</if>
			<if test="entity.create_time != null">
				create_time = #{entity.create_time},
			</if>
			<if test="entity.update_time != null">
				update_time = #{entity.update_time},
			</if>
			<if test="entity.status != null">
				status = #{entity.status},
			</if>
			<if test="entity.open_date != null">
				open_date = #{entity.open_date},
			</if>
			<if test="entity.deliver_date != null">
				deliver_date = #{entity.deliver_date},
			</if>
			<if test="entity.server_phone_num != null">
				server_phone_num = #{entity.server_phone_num},
			</if>
			<if test="entity.address != null">
				address = #{entity.address},
			</if>
			<if test="entity.building_count != null">
				building_count = #{entity.building_count},
			</if>
			<if test="entity.floor_space != null">
				floor_space = #{entity.floor_space},
			</if>
			<if test="entity.building_space != null">
				building_space = #{entity.building_space},
			</if>
			<if test="entity.house_count != null">
				house_count = #{entity.house_count},
			</if>
			<if test="entity.green_rate != null">
				green_rate = #{entity.green_rate},
			</if>
			<if test="entity.decoration_condition != null">
				decoration_condition = #{entity.decoration_condition},
			</if>
			<if test="entity.util_type != null">
				util_type = #{entity.util_type},
			</if>
			<if test="entity.parking_count != null">
				parking_count = #{entity.parking_count},
			</if>
			<if test="entity.floor_detail != null">
				floor_detail = #{entity.floor_detail},
			</if>
			<if test="entity.main_door != null">
				main_door = #{entity.main_door},
			</if>
			<if test="entity.around_peitao != null">
				around_peitao = #{entity.around_peitao},
			</if>
			<if test="entity.internal_peitao != null">
				internal_peitao = #{entity.internal_peitao},
			</if>
			<if test="entity.traffic != null">
				traffic = #{entity.traffic},
			</if>
			<if test="entity.wuye_fee != null">
				wuye_fee = #{entity.wuye_fee},
			</if>
			<if test="entity.property_company != null">
				property_company = #{entity.property_company},
			</if>
			<if test="entity.ratio != null">
				ratio = #{entity.ratio},
			</if>
			<if test="entity.ratio != null">
				right_years = #{entity.right_years},
			</if>
			<if test="entity.buildings_detail != null">
				buildings_detail = #{entity.buildings_detail},
			</if>
			<if test="entity.ratio != null">
				yushouzhenghao = #{entity.yushouzhenghao},
			</if>
			<if test="entity.ratio != null">
				dianping = #{entity.dianping}
			</if>
		</set>
		WHERE
		id = #{entity.id}
	</update>
	<select id="find" resultType="hashmap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		tb_buildings
		WHERE
		id>0
		<if test="filter.buildings_name != null and filter.buildings_name != ''">
			<bind name="filter.buildings_name" value=" '%' + filter.buildings_name + '%' " />
			AND buildings_name LIKE #{filter.buildings_name}
		</if>

		<if test="filter.developer_company != null and filter.developer_company != ''">
			<bind name="filter.developer_company" value=" '%' + filter.developer_company + '%' " />
			AND developer_company LIKE #{filter.developer_company}
		</if>
        <if test="filter.city_id != null and filter.city_id != ''">
			<bind name="filter.city_id" value=" '%' + filter.city_id + '%' " />
			AND city_id LIKE #{filter.city_id}
		</if>
		ORDER BY id DESC
		<if test="filter.first != null and filter.last != null">
			LIMIT #{filter.first},#{filter.last}
		</if>
	</select>
	   <select id="findDetailList" resultType="hashmap">
		SELECT b.buildings_name,
		       b.server_phone_num,a.*,
               c.resource_name,
               d.first_price ,
               d.discount_price
               	
		FROM tb_building_active a
		LEFT JOIN tb_buildings b ON a.buildings_id=b.id
		LEFT JOIN tb_building_resource c ON  c.sm_type =30 AND c.buildings_id=b.id
		LEFT JOIN tb_building_price d ON d.building_id=b.id 
	   	WHERE a.id>0

		<if test="filter.startdata != null and filter.startdata != ''">
			AND date_format(a.start_date,'%Y-%m-%d')=#{filter.startdata}
		</if>
		<if test="filter.proId != null and filter.proId != ''">
			AND b.province_id=#{filter.proId}
		</if>
		<if test="filter.cityId != null and filter.cityId != ''">
			AND b.city_id=#{filter.cityId}
		</if>
		<if test="filter.buildings_name != null and filter.buildings_name != ''">
			<bind name="filter.buildings_name" value=" '%' + filter.buildings_name + '%' " />
			AND b.buildings_name LIKE #{filter.buildings_name}
		</if>
		<if test="filter.city_id != null and filter.city_id != ''">
			AND b.city_id LIKE #{filter.city_id}
		</if>
		<if test="filter.area_id != null and filter.area_id != ''">
			AND b.area_id LIKE #{filter.area_id}
		</if>
		AND b.status=0
		ORDER BY a.create_time desc
	    <if test="filter.first != null and filter.last != null">
			LIMIT	#{filter.first},#{filter.last}
		</if>
	</select>
	<select id="findDetailCount" resultType="long">
	    SELECT count(*)
	    FROM tb_building_active a
	    LEFT JOIN tb_buildings b ON a.buildings_id=b.id
	    WHERE a.id>0

		<if test="filter.startdata != null and filter.startdata != ''">
			AND date_format(a.start_date,'%Y-%m-%d')=#{filter.startdata}
		</if>
		<if test="filter.proId != null and filter.proId != ''">
			AND b.province_id=#{filter.proId}
		</if>
		<if test="filter.cityId != null and filter.cityId != ''">
			AND b.city_id=#{filter.cityId}
		</if>
		<if test="filter.buildings_name != null and filter.buildings_name != ''">
			<bind name="filter.buildings_name" value=" '%' + filter.buildings_name + '%' " />
			AND b.buildings_name LIKE #{filter.buildings_name}
		</if>
		<if test="filter.city_id != null and filter.city_id != ''">
			AND b.city_id LIKE #{filter.city_id}
		</if>
		<if test="filter.area_id != null and filter.area_id != ''">
			AND b.area_id LIKE #{filter.area_id}
		</if>
		AND b.status=0
	   </select>
	<select id="getMoreDetail" resultType="hashmap"> 
		SELECT
		a.*,a.id buildings_id, f.resource_path  tj_path, f.resource_name  tj_name,  b.resource_path logo_path,b.resource_name logo_name,c.resource_path ad_path,c.resource_name ad_name,
		d.first_price,d.first_price,d.discount_price,e.active_name,e.active_detail,e.active_price,e.end_date,
		e.start_date,e.active_jianjie
		FROM
		tb_buildings a
		left join tb_building_resource b on b.buildings_id=a.id and b.big_type=3 and b.sm_type=30
		left join tb_building_resource c on c.buildings_id=a.id and c.big_type=3 and c.sm_type=31
		left join tb_building_price d on d.building_id=a.id 
		left join tb_building_active e on e.buildings_id=a.id 
		LEFT JOIN tb_building_resource f ON f.buildings_id=a.id AND f.sm_type=33 AND f.pid=#{pid}
		WHERE
		a.id = #{buildingsId}
		
	</select>
</mapper>