<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vfh.httpInterface.dao.buildings.BuildingsPriceMapper" >
  <sql id="Base_Column_List" >
    id, nomal_price, discount_price, active_id, building_id, start_date, end_date, create_time, first_price,status,
    update_time
  </sql>
    <select id="get" resultType="hashmap">  
        SELECT 
          <include refid="Base_Column_List" />     
        FROM
          tb_building_price
        WHERE 
          id = #{id}
   </select>
   <delete id="delete" >
    delete from tb_building_price
    where id = #{id}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id" >
    insert into tb_building_price ( nomal_price, discount_price, 
    active_id, building_id, 
    start_date, end_date, create_time,first_price,status)
    values ( #{entity.nomalPrice}, #{entity.discount_price}, 
      #{entity.activeId}, #{entity.buildingsId}, 
      #{entity.startDate}, #{entity.endDate}, now(),#{entity.first_price},'2'
      )
  </insert>
  <select id="count" resultType="long">
    select count(*) from tb_building_price
     WHERE
          id>0
        <if test="filter.username != null and filter.username != ''">
          <bind name="filter.username" value=" '%' + filter.username + '%' " />
          AND username LIKE #{filter.username}
        </if>

        <if test="filter.nickname != null and filter.nickname != ''">
          <bind name="filter.nickname" value=" '%' + filter.nickname + '%' " />
          AND nickname LIKE #{filter.nickname}
        </if>

        <if test="filter.state != null and filter.state != ''">
          AND state = #{filter.state}
        </if>

        <if test="filter.email != null and filter.email != ''">
          <bind name="filter.email" value=" '%' + filter.email + '%' " />
          AND email LIKE #{filter.email}
        </if>
  </select>
  <update id="update">
        update tb_building_price
	    <set >
	      <if test="entity.nomal_price != null" >
	        nomal_price = #{entity.nomal_price},
	      </if>
	      <if test="entity.discount_price != null" >
	        discount_price = #{entity.discount_price},
	      </if>
	      <if test="entity.active_id != null" >
	        active_id = #{entity.active_id},
	      </if>
	      <if test="entity.start_date != null" >
	        start_date = #{entity.start_date},
	      </if>
	      <if test="entity.end_date != null" >
	        end_date = #{entity.end_date},
	      </if>
	        update_time = now(),
	      <if test="entity.first_price != null" >
	        first_price = #{entity.first_price},
	      </if>
	      <if test="entity.status != null" >
	        status = #{entity.status},
	      </if>
	    </set>
        WHERE
          id = #{entity.id}
    </update>
    <select id="find" resultType="hashmap">
        SELECT
           a.id, a.nomal_price, a.discount_price,a.active_id, a.building_id, a.start_date, a.end_date, a.create_time, 
    		a.update_time,b.active_name,first_price,status
        FROM
          tb_building_price a left join tb_building_active b on a.active_id=b.id
        WHERE
          a.id>0
        <if test="filter.buildingId != null and filter.buildingId != ''">
            AND a.building_id = #{filter.buildingId}
        </if>

        <if test="filter.activeId != null and filter.activeId != ''">
            AND a.active_id = #{filter.activeId}
        </if>
		<if test="filter.endDate != null and filter.endDate != ''">
            AND a.end_date = #{filter.endDate}
        </if>
        ORDER BY a.id DESC
        <if test="filter.first != null and filter.last != null">
            LIMIT #{filter.first},#{filter.last}
        </if>
    </select>
        <select id="findBybuildId" resultType="hashmap">  
        SELECT 
          <include refid="Base_Column_List" />     
        FROM
          tb_building_price
        WHERE 
          building_id = #{filter.buildingsId}
   </select>
</mapper>