<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="vfh.httpInterface.dao.notice.NoticeDao" >

    <select id="getNoticeByID" resultType="hashmap">
          SELECT
            Id AS "Id",
            Title AS "Title",
            Content AS "Content",
            DATE_FORMAT(MessageDate,'%M %D,%Y') AS "MessageDate",
            author AS "author"
          FROM
            tb_notice
          WHERE
              Id = #{Id}
    </select>
  
   <select id="count" resultType="long">
        SELECT
          COUNT(id)
        FROM
          tb_notice
    </select>
  
    <delete id="delNoticeByID">
        DELETE FROM tb_notice WHERE Id = #{Id}
    </delete>

    <update id="upNoticeByID">
        <trim prefix="SET" suffixOverrides="," />
        UPDATE
          tb_notice
        SET
          Title=#{entity.Title},
          Content=#{entity.Content},
          MessageDate=NOW(),
          author=#{entity.author}
        WHERE
          Id = #{entity.Id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO tb_notice(
          Title,
          Content,
          MessageDate,
          author
        ) VALUES (
          #{entity.Title},
          #{entity.Content},
          NOW(),
          #{entity.author}
        )
    </insert>
    <select id="find" resultType="hashmap">
        SELECT
            Id AS "Id",
            Title AS "Title",
            Content AS "Content",
            MessageDate AS "MessageDate",
            author AS "author"
        FROM
          tb_notice
        ORDER BY id DESC
    </select>
    
    <select id="findnoticeListFive" resultType="hashmap">
        SELECT
            Id AS "Id",
            Title AS "Title",
            Content AS "Content",
            DATE_FORMAT(MessageDate,'%M %D,%Y') AS "MessageDate",
            author AS "author"
        FROM
          tb_notice
        ORDER BY id DESC  
        <if test="filter.first != null and filter.last != null">
			LIMIT	#{filter.first},#{filter.last}
		</if>
    </select>
</mapper>