<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="vfh.httpInterface.dao.resourse.ResourseDao" >

 <sql id="Base_Column_List" >
    id,buildings_id,resource_path,
          big_type,
          sm_type,
          is_first,
          resource_name,
          resource_alias,
          resource_detail,
          create_time,
          update_time
  </sql>
    
    <insert id="Insert" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO tb_building_resource(
          buildings_id,
          pid,
          resource_path,
          big_type,
          sm_type,
          is_first,
          resource_name,
          resource_alias,
          resource_detail,
          create_time,
          update_time
          
        ) VALUES (
         #{entity.buildings_id},
          #{entity.pid},
          #{entity.resource_path},
          #{entity.big_type},
          #{entity.sm_type},
          #{entity.is_first},
          #{entity.resource_name},
          #{entity.resource_alias},
          #{entity.resource_detail},
          now(),
          now()
        )
    </insert>
 
 
    <select id="get" resultType="hashmap">
        SELECT 
          buildings_id,
          pid,
          resource_path,
          big_type,
          sm_type,
          is_first,
          resource_name,
          resource_alias,
          resource_detail,
          create_time,
          update_time
        FROM
          tb_building_resource
        WHERE 
          pid = #{id}
    </select>
   <select id="count" resultType="long">
		select count(*) from tb_building_resource
		WHERE
		id>0
		<if test="filter.buildingsId != null and filter.buildingsId != ''">
			AND buildings_id = #{filter.buildingsId}
		</if>

		<if test="filter.bigType != null and filter.bigType != ''">
			AND big_type = #{filter.bigType}
		</if>
		<if test="filter.smType != null and filter.smType != ''">
			AND sm_type = #{filter.smType}
		</if>
	</select>
	<select id="find" resultType="hashmap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		tb_building_resource
		WHERE
		id>0
		<if test="filter.buildingsId != null and filter.buildingsId != ''">
			AND buildings_id = #{filter.buildingsId}
		</if>

		<if test="filter.bigType != null and filter.bigType != ''">
			AND big_type = #{filter.bigType}
		</if>
		<if test="filter.smType != null and filter.smType != ''">
			AND sm_type = #{filter.smType}
		</if>
		ORDER BY id DESC
		<if test="filter.first != null and filter.last != null">
			LIMIT #{filter.first},#{filter.last}
		</if>
	</select>
</mapper>