<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="vfh.httpInterface.dao.resourse.ResourseDao" >

 <sql id="Base_Column_List" >
    id,buildings_id,resource_path,
          big_type,
          sm_type,
          is_first,
          resource_name,
          resource_alias,
          resource_detail,
          create_time,
          update_time
  </sql>
    
    <insert id="Insert" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO tb_building_resource(
          buildings_id,
          pid,
          resource_path,
          big_type,
          sm_type,
          is_first,
          resource_name,
          resource_alias,
          resource_detail,
          create_time,
          update_time
          
        ) VALUES (
         #{entity.buildings_id},
          #{entity.pid},
          #{entity.resource_path},
          #{entity.big_type},
          #{entity.sm_type},
          #{entity.is_first},
          #{entity.resource_name},
          #{entity.resource_alias},
          #{entity.resource_detail},
          now(),
          now()
        )
    </insert>
 
 
    <select id="get" resultType="hashmap">
        SELECT 
          buildings_id,
          pid,
          resource_path,
          big_type,
          sm_type,
          is_first,
          resource_name,
          resource_alias,
          resource_detail,
          create_time,
          update_time
        FROM
          tb_building_resource
        WHERE 
          pid = #{id}
    </select>
   <select id="count" resultType="long">
		select count(*) from tb_building_resource a 
		LEFT JOIN tb_building_house_type b ON a.buildings_id=b.building_id AND a.pid=b.id
		WHERE
		a.id>0 
		<if test="filter.buildingsId != null and filter.buildingsId != ''">
			AND a.buildings_id = #{filter.buildingsId}
		</if>

		<if test="filter.bigType != null and filter.bigType != ''">
			AND a.big_type = #{filter.bigType}
		</if>
		<if test="filter.smType != null and filter.smType != ''">
			AND a.sm_type = #{filter.smType}
		</if>
	</select>
	<select id="find" resultType="hashmap">
		SELECT
		a.*,  b.house_type_name  house_type_name,  CONCAT(b.shi,'室',b.ting,'厅',b.chu,'厨',b.wei,'卫',b.yang,'阳',' ',b.`acreage`,'㎡') tingshi
		FROM
		tb_building_resource a
        LEFT JOIN tb_building_house_type b ON a.buildings_id=b.building_id AND a.pid=b.id
		WHERE
		a.id>0 
		
		<if test="filter.buildingsId != null and filter.buildingsId != ''">
			AND a.buildings_id = #{filter.buildingsId}
		</if>

		<if test="filter.bigType != null and filter.bigType != ''">
			AND a.big_type = #{filter.bigType}
		</if>
		<if test="filter.smType != null and filter.smType != ''">
			AND a.sm_type = #{filter.smType}
		</if>
		ORDER BY id DESC
		<if test="filter.first != null and filter.last != null">
			LIMIT #{filter.first},#{filter.last}
		</if>
	</select>
</mapper>