<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="vfh.httpInterface.dao.numbers.NumbersDao" >



    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO td_numbers(
          kname,
          ksex,
          kage,
          knum,
          kwxh,
          laidianrq,
          dilily,
          status,
          remark,
          laiyuanqd,
          requirement,
          targetbuild,
          staff,
          c_level,
          u_id
        ) VALUES (
          #{entity.kname},
          #{entity.ksex},
          #{entity.kage},
          #{entity.knum},
          #{entity.kwxh},
          #{entity.laidianrq},
          #{entity.dilily},
          #{entity.status},
          #{entity.remark},
          #{entity.laiyuanqd},
          #{entity.requirement},
          #{entity.targetbuild},
          #{entity.staff},
          #{entity.c_level},
           #{entity.u_id}
        )

    </insert>
    
    
        <insert id="insertMiddle" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO td_uc_middle(
          u_id,
          u_name,
          c_id,
          c_name,
          uc_startdate,
          uc_enddate,
         
          author_id,
          author_name,
          creat_date
        ) VALUES (
          #{entity.u_id},
          #{entity.staff},
          #{entity.id},
          #{entity.kname},
          NOW(),
          "2050-12-30 00:00:00",
        
          #{entity.u_id},
          #{entity.staff},
          NOW()
        )

    </insert>
    
    <select id="find" resultType="hashmap">
        SELECT 
            a.*, b.*
        FROM 
            `td_numbers` a ,
            `td_uc_middle` b 
            
        WHERE 
              b.`u_id`=a.`u_id`
              AND b.`c_id` = a.id 
              AND NOW() between b.`uc_startdate` and b.`uc_enddate`
              
              
		<if test="filter.userId != null and filter.userId != ''">
			AND b.u_id=#{filter.userId}
		</if>
		ORDER BY b.`uc_startdate` DESC
		<if test="filter.first != null and filter.last != null">
			LIMIT #{filter.first},#{filter.last}
		</if>
    </select>
    
    <select id="findall" resultType="hashmap">
        SELECT
            id AS "id",
            kname AS "kname",
            ksex AS "ksex",
            kage AS "kage",
            knum AS "knum",
            laidianrq AS "laidianrq",
            kwxh AS "kwxh",
            laiyuanqd AS "laiyuanqd",
            dilily AS "dilily",
            status AS "status",
            remark AS "remark",
            requirement AS "requirement",
            targetbuild AS "targetbuild",
            staff AS "staff"
        FROM
          td_numbers
        ORDER BY id DESC
    </select>
    
      <select id="count" resultType="long">
        SELECT 
            count(*)
        FROM 
            `td_numbers` a ,
            `td_uc_middle` b 
            
        WHERE 
              b.`u_id`=a.`u_id`
              AND b.`c_id` = a.id 
              AND NOW() between b.`uc_startdate` and b.`uc_enddate`
              
              
		<if test="filter.userId != null and filter.userId != ''">
			AND b.u_id=#{filter.userId}
		</if>
		ORDER BY b.`uc_startdate` DESC

    </select>
</mapper>