<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户数据访问映射 -->
<mapper namespace="vfh.httpInterface.dao.reback.RebackDao" >

  
   <select id="count" resultType="long">
        SELECT
          COUNT(id)
        FROM
          td_reback
          WHERE pid = #{filter.id}
          ORDER BY id DESC
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO td_reback(
          pid,
          redate,
          reresult,
          u_id,
          u_name
          
        ) VALUES (
          #{entity.pid},
          now(),
          #{entity.reresult},
          #{entity.u_id},
          #{entity.u_name}
          
        )
    </insert>
    <select id="find" resultType="hashmap">
        SELECT
            id AS "id",
            pid AS "pid",
            redate AS "redate",
            reresult AS "reresult",
            u_id AS "u_id",
            u_name AS "u_name"
            
        FROM
          td_reback
          WHERE
          pid = #{filter.id}
        ORDER BY id DESC
    </select>
    
    <select id="findall" resultType="hashmap">
        SELECT
            id AS "id",
            pid AS "pid",
            redate AS "redate",
            reresult AS "reresult"
        FROM
          td_reback
        ORDER BY id DESC
    </select>
</mapper>